repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  exclude: .*\.md$
  hooks:
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.3
  hooks:
    - id: ruff
      types: ["python"]
      args: ["--fix"]
    - id: ruff-format
      types: ["python"]

- repo: https://github.com/asottile/reorder-python-imports
  rev: v3.13.0
  hooks:
    - id: reorder-python-imports

- repo: local
  hooks:
    - id: run-tox
      name: Run Tox
      entry: tox
      language: system
      pass_filenames: false
